USE [master]
GO
/****** Object:  Database [SMTDB]    Script Date: 5/26/2021 12:28:00 PM ******/
CREATE DATABASE [SMTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMTDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SMTDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SMTDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SMTDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMTDB]
GO
USE [SMTDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/26/2021 12:28:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignedProject]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignedProject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectUpdateId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[IsAssigned] [bit] NOT NULL,
 CONSTRAINT [PK_AssignedProject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Contractors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContractorName] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[RelevantPhone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contractors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[DataSheets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentLink] [nvarchar](max) NULL,
	[OfferId] [int] NOT NULL,
 CONSTRAINT [PK_DataSheets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentsCategories]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentsCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DocumentsCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[EndUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[RelevantPhone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_EndUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluation]    Script Date: 5/26/2021 12:28:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Governorates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GovernorateName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Governorates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE TABLE [dbo].[OfferDescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DescriptionDate] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[OffersId] [int] NOT NULL,
	[ProjectUpdateId] [int] NULL,
 CONSTRAINT [PK_OfferDescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfferDocuments]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentFile] [nvarchar](max) NULL,
	[OfferId] [int] NOT NULL,
 CONSTRAINT [PK_OfferDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OfferCreationDate] [datetime2](7) NOT NULL,
	[OfferStatusId] [int] NOT NULL,
	[ProjectCostsId] [int] NOT NULL,
	[ProjectsId] [int] NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfferStatus]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OfferStatusName] [nvarchar](max) NULL,
 CONSTRAINT [PK_OfferStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[ProjectComponents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectComponentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProjectComponents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectCosts]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectCosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cost] [int] NOT NULL,
	[Currency] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProjectCosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectDescriptions]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectDescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DescriptionDate] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ProjectId] [int] NOT NULL,
	[ProjectUpdateId] [int] NULL,
 CONSTRAINT [PK_ProjectDescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectDocuments]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentFile] [nvarchar](max) NULL,
	[ProjectId] [int] NOT NULL,
	[DocumentsCategoryId] [int] NOT NULL,
	[ProjectUpdateId] [int] NULL,
 CONSTRAINT [PK_ProjectDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](max) NULL,
	[Rank] [int] NOT NULL,
	[ProjectCreationDate] [datetime2](7) NOT NULL,
	[ProjectStatusId] [int] NOT NULL,
	[ContractorsId] [int] NOT NULL,
	[EndUsersId] [int] NOT NULL,
	[GovernoratesId] [int] NOT NULL,
	[IsAccept] [bit] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStatus]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectStatusName] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProjectStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectSystems]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSystems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectComponentsId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
 CONSTRAINT [PK_ProjectSystems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projectUpdates]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projectUpdates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[ProjectId] [int] NOT NULL,
 CONSTRAINT [PK_projectUpdates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 5/26/2021 12:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210418121045_db', N'5.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210419072955_db2', N'5.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210419082124_db3', N'5.0.5')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'0da69533-efbd-435e-a090-c4e40231d3af', N'CEO', N'CEO', N'f1568902-80a5-4601-8c7a-815e0c3634fd')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'4a479ea5-6e11-47a1-9996-d7f126991f49', N'PreSalesManager', N'PRESALESMANAGER', N'e03e1b2b-5a1b-4389-81a4-dda8d8876103')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'b3ef0089-66ec-42ed-bba9-90b9b7db0f5e', N'PreSales', N'PRESALES', N'a863297c-24ab-476b-940e-917ef1860783')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (3042, N'0803e98a-b787-4018-988e-19b053db9b79', N'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name', N'Roshdy')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (3043, N'0803e98a-b787-4018-988e-19b053db9b79', N'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress', N'Roshdy@gmail.com')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (3044, N'0803e98a-b787-4018-988e-19b053db9b79', N'key', N'value')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'73346948-6995-4bc5-bc34-1d7d04b01e71', N'0da69533-efbd-435e-a090-c4e40231d3af')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e54f5c00-ac44-4a84-af5b-d80d2d3c4ff6', N'4a479ea5-6e11-47a1-9996-d7f126991f49')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0803e98a-b787-4018-988e-19b053db9b79', N'cfc07764-ce23-4172-8ab9-1c95deeb16a5')
SET IDENTITY_INSERT [dbo].[Contractors] ON 

INSERT [dbo].[Contractors] ([ID], [ContractorName], [ContactName], [Phone], [RelevantPhone], [Email]) VALUES (1, N'Value', N'Value', N'01010536968', N'01010536968', N'Value@gmail.com')
INSERT [dbo].[Contractors] ([ID], [ContractorName], [ContactName], [Phone], [RelevantPhone], [Email]) VALUES (2, N'Korra', N'Korra', N'01010536968', N'01010536968', N'Korra@gmail.com')
INSERT [dbo].[Contractors] ([ID], [ContractorName], [ContactName], [Phone], [RelevantPhone], [Email]) VALUES (3, N'Leeds', N'Leeds', N'01010536968', N'01010536968', N'Leeds@gmail.com')
SET IDENTITY_INSERT [dbo].[Contractors] OFF
SET IDENTITY_INSERT [dbo].[DocumentsCategories] ON 

INSERT [dbo].[DocumentsCategories] ([Id], [CategoryName]) VALUES (1, N'BoQ')
INSERT [dbo].[DocumentsCategories] ([Id], [CategoryName]) VALUES (2, N'Drawing')
INSERT [dbo].[DocumentsCategories] ([Id], [CategoryName]) VALUES (3, N'Any Queries')
SET IDENTITY_INSERT [dbo].[DocumentsCategories] OFF
SET IDENTITY_INSERT [dbo].[EndUsers] ON 

INSERT [dbo].[EndUsers] ([ID], [CompanyName], [ContactName], [Phone], [RelevantPhone], [Email]) VALUES (1, N'Kenoz', N'Kenoz', N'01010536968', N'01010536968', N'Kenoz@gmail.com')
INSERT [dbo].[EndUsers] ([ID], [CompanyName], [ContactName], [Phone], [RelevantPhone], [Email]) VALUES (2, N'Peugeot', N'Peugeot', N'01010536968', N'01010536968', N'Peugeot@gmail.com')
INSERT [dbo].[EndUsers] ([ID], [CompanyName], [ContactName], [Phone], [RelevantPhone], [Email]) VALUES (3, N'Grand Square Mall', N'Grand Square Mall', N'01010536968', N'01010536968', N'GrandSquareMall@gmail.com')
SET IDENTITY_INSERT [dbo].[EndUsers] OFF
SET IDENTITY_INSERT [dbo].[Governorates] ON 

INSERT [dbo].[Governorates] ([Id], [GovernorateName]) VALUES (1, N'Alex')
INSERT [dbo].[Governorates] ([Id], [GovernorateName]) VALUES (2, N'Cairo')
INSERT [dbo].[Governorates] ([Id], [GovernorateName]) VALUES (3, N'Giza')
SET IDENTITY_INSERT [dbo].[Governorates] OFF
SET IDENTITY_INSERT [dbo].[OfferDescriptions] ON 

INSERT [dbo].[OfferDescriptions] ([Id], [Description], [DescriptionDate], [UserId], [OffersId], [ProjectUpdateId]) VALUES (1, N'Test', CAST(N'2021-05-09T10:01:57.3760000' AS DateTime2), N'0803e98a-b787-4018-988e-19b053db9b79', 5, 1)
INSERT [dbo].[OfferDescriptions] ([Id], [Description], [DescriptionDate], [UserId], [OffersId], [ProjectUpdateId]) VALUES (2, N'wwwwwwwwwwwwwwwwwwwwwwww', CAST(N'2021-05-24T12:20:12.1940000' AS DateTime2), N'f3f47308-167c-454f-9661-fac114273a0f', 1026, 3)
INSERT [dbo].[OfferDescriptions] ([Id], [Description], [DescriptionDate], [UserId], [OffersId], [ProjectUpdateId]) VALUES (3, N'yhghjgggggggggggggggj', CAST(N'2021-05-24T12:22:18.6640000' AS DateTime2), N'f3f47308-167c-454f-9661-fac114273a0f', 1027, 2002)
SET IDENTITY_INSERT [dbo].[OfferDescriptions] OFF
SET IDENTITY_INSERT [dbo].[OfferDocuments] ON 

INSERT [dbo].[OfferDocuments] ([Id], [DocumentFile], [OfferId]) VALUES (8, N'TimeSheet.docx', 1007)
INSERT [dbo].[OfferDocuments] ([Id], [DocumentFile], [OfferId]) VALUES (10, N'TimeSheet.docx', 1010)
INSERT [dbo].[OfferDocuments] ([Id], [DocumentFile], [OfferId]) VALUES (17, N'0FMT896X7TA92RDGFR036N1QBDH1LN3SU1W8Y8E6 (3).jpg', 1018)
SET IDENTITY_INSERT [dbo].[OfferDocuments] OFF
SET IDENTITY_INSERT [dbo].[Offers] ON 

INSERT [dbo].[Offers] ([Id], [OfferCreationDate], [OfferStatusId], [ProjectCostsId], [ProjectsId]) VALUES (5, CAST(N'2022-03-29T13:34:00.0000000' AS DateTime2), 1, 1, 1)
INSERT [dbo].[Offers] ([Id], [OfferCreationDate], [OfferStatusId], [ProjectCostsId], [ProjectsId]) VALUES (1002, CAST(N'2021-05-24T11:03:46.4130000' AS DateTime2), 1, 1003, 1)
INSERT [dbo].[Offers] ([Id], [OfferCreationDate], [OfferStatusId], [ProjectCostsId], [ProjectsId]) VALUES (1003, CAST(N'2021-05-24T11:03:46.4130000' AS DateTime2), 1, 1004, 1)
SET IDENTITY_INSERT [dbo].[Offers] OFF
SET IDENTITY_INSERT [dbo].[OfferStatus] ON 

INSERT [dbo].[OfferStatus] ([Id], [OfferStatusName]) VALUES (1, N'Accept')
INSERT [dbo].[OfferStatus] ([Id], [OfferStatusName]) VALUES (2, N'Refused')
INSERT [dbo].[OfferStatus] ([Id], [OfferStatusName]) VALUES (1002, N'Offered')
SET IDENTITY_INSERT [dbo].[OfferStatus] OFF
SET IDENTITY_INSERT [dbo].[ProjectComponents] ON 

INSERT [dbo].[ProjectComponents] ([Id], [ProjectComponentName]) VALUES (1, N'CCTV')
INSERT [dbo].[ProjectComponents] ([Id], [ProjectComponentName]) VALUES (6, N'Active Data')
INSERT [dbo].[ProjectComponents] ([Id], [ProjectComponentName]) VALUES (7, N'Passive Data')
SET IDENTITY_INSERT [dbo].[ProjectComponents] OFF
SET IDENTITY_INSERT [dbo].[ProjectCosts] ON 

INSERT [dbo].[ProjectCosts] ([Id], [Cost], [Currency]) VALUES (1, 200000, N'EGP')
INSERT [dbo].[ProjectCosts] ([Id], [Cost], [Currency]) VALUES (2, 2000, N'EGP')
INSERT [dbo].[ProjectCosts] ([Id], [Cost], [Currency]) VALUES (1002, 201, N'')
SET IDENTITY_INSERT [dbo].[ProjectCosts] OFF
SET IDENTITY_INSERT [dbo].[ProjectDescriptions] ON 

INSERT [dbo].[ProjectDescriptions] ([Id], [Description], [DescriptionDate], [UserId], [ProjectId], [ProjectUpdateId]) VALUES (1, N'An article is any member of a class of dedicated words that are used with noun phrases to mark the identifiability of the referents of the noun phrases', CAST(N'2021-05-09T10:01:57.3760000' AS DateTime2), N'73346948-6995-4bc5-bc34-1d7d04b01e71', 1, 1)
INSERT [dbo].[ProjectDescriptions] ([Id], [Description], [DescriptionDate], [UserId], [ProjectId], [ProjectUpdateId]) VALUES (2, N'Test', CAST(N'2021-05-09T10:01:57.3760000' AS DateTime2), N'0803e98a-b787-4018-988e-19b053db9b79', 1, 1002)
INSERT [dbo].[ProjectDescriptions] ([Id], [Description], [DescriptionDate], [UserId], [ProjectId], [ProjectUpdateId]) VALUES (3, N'Test BoQ', CAST(N'2021-05-09T10:02:49.5800000' AS DateTime2), N'0803e98a-b787-4018-988e-19b053db9b79', 1, 1004)
SET IDENTITY_INSERT [dbo].[ProjectDescriptions] OFF
SET IDENTITY_INSERT [dbo].[ProjectDocuments] ON 

INSERT [dbo].[ProjectDocuments] ([Id], [DocumentFile], [ProjectId], [DocumentsCategoryId], [ProjectUpdateId]) VALUES (1, N'Test1', 5, 1, 4)
INSERT [dbo].[ProjectDocuments] ([Id], [DocumentFile], [ProjectId], [DocumentsCategoryId], [ProjectUpdateId]) VALUES (2, N'Test2', 5, 2, 4)
INSERT [dbo].[ProjectDocuments] ([Id], [DocumentFile], [ProjectId], [DocumentsCategoryId], [ProjectUpdateId]) VALUES (1002, N'CleanArch.txt', 1, 2, 1002)
SET IDENTITY_INSERT [dbo].[ProjectDocuments] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [ProjectName], [Rank], [ProjectCreationDate], [ProjectStatusId], [ContractorsId], [EndUsersId], [GovernoratesId], [IsAccept]) VALUES (1, N'Zaha Mall', 90, CAST(N'2018-03-29T13:34:00.0000000' AS DateTime2), 1, 1, 1, 1, 0)
INSERT [dbo].[Projects] ([Id], [ProjectName], [Rank], [ProjectCreationDate], [ProjectStatusId], [ContractorsId], [EndUsersId], [GovernoratesId], [IsAccept]) VALUES (5, N'Four Season Hotel', 70, CAST(N'2018-03-29T13:34:00.0000000' AS DateTime2), 3, 3, 3, 2, 0)
INSERT [dbo].[Projects] ([Id], [ProjectName], [Rank], [ProjectCreationDate], [ProjectStatusId], [ContractorsId], [EndUsersId], [GovernoratesId], [IsAccept]) VALUES (6, N'Alex Factory', 100, CAST(N'2018-03-29T13:34:00.0000000' AS DateTime2), 3, 2, 2, 3, 0)
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[ProjectStatus] ON 

INSERT [dbo].[ProjectStatus] ([Id], [ProjectStatusName]) VALUES (1, N'New')
INSERT [dbo].[ProjectStatus] ([Id], [ProjectStatusName]) VALUES (2, N'Offered')
INSERT [dbo].[ProjectStatus] ([Id], [ProjectStatusName]) VALUES (3, N'Hold')
SET IDENTITY_INSERT [dbo].[ProjectStatus] OFF
SET IDENTITY_INSERT [dbo].[ProjectSystems] ON 

INSERT [dbo].[ProjectSystems] ([Id], [ProjectComponentsId], [ProjectId]) VALUES (1, 1, 1)
INSERT [dbo].[ProjectSystems] ([Id], [ProjectComponentsId], [ProjectId]) VALUES (2, 6, 5)
INSERT [dbo].[ProjectSystems] ([Id], [ProjectComponentsId], [ProjectId]) VALUES (3, 6, 1)
SET IDENTITY_INSERT [dbo].[ProjectSystems] OFF
SET IDENTITY_INSERT [dbo].[projectUpdates] ON 

INSERT [dbo].[projectUpdates] ([Id], [DueDate], [ProjectId]) VALUES (1, CAST(N'2020-03-29T13:34:00.0000000' AS DateTime2), 1)
INSERT [dbo].[projectUpdates] ([Id], [DueDate], [ProjectId]) VALUES (3, CAST(N'2021-03-29T13:34:00.0000000' AS DateTime2), 5)
INSERT [dbo].[projectUpdates] ([Id], [DueDate], [ProjectId]) VALUES (4, CAST(N'2022-03-29T13:34:00.0000000' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[projectUpdates] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignedProject_EmployeeId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedProject_EmployeeId] ON [dbo].[AssignedProject]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignedProject_ProjectUpdateId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedProject_ProjectUpdateId] ON [dbo].[AssignedProject]
(
	[ProjectUpdateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


/****** Object:  Index [IX_DataSheets_OfferId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_DataSheets_OfferId] ON [dbo].[DataSheets]
(
	[OfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_FacultyDepartmentId]    Script Date: 5/26/2021 12:28:03 PM ******/

/****** Object:  Index [IX_OfferDescriptions_OffersId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_OfferDescriptions_OffersId] ON [dbo].[OfferDescriptions]
(
	[OffersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OfferDescriptions_ProjectUpdateId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_OfferDescriptions_ProjectUpdateId] ON [dbo].[OfferDescriptions]
(
	[ProjectUpdateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OfferDescriptions_UserId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_OfferDescriptions_UserId] ON [dbo].[OfferDescriptions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OfferDocuments_OfferId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_OfferDocuments_OfferId] ON [dbo].[OfferDocuments]
(
	[OfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Offers_OfferStatusId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Offers_OfferStatusId] ON [dbo].[Offers]
(
	[OfferStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Offers_ProjectCostsId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Offers_ProjectCostsId] ON [dbo].[Offers]
(
	[ProjectCostsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Offers_ProjectsId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Offers_ProjectsId] ON [dbo].[Offers]
(
	[ProjectsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

/****** Object:  Index [IX_ProjectDescriptions_ProjectId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectDescriptions_ProjectId] ON [dbo].[ProjectDescriptions]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectDescriptions_ProjectUpdateId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectDescriptions_ProjectUpdateId] ON [dbo].[ProjectDescriptions]
(
	[ProjectUpdateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProjectDescriptions_UserId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectDescriptions_UserId] ON [dbo].[ProjectDescriptions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectDocuments_DocumentsCategoryId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectDocuments_DocumentsCategoryId] ON [dbo].[ProjectDocuments]
(
	[DocumentsCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectDocuments_ProjectId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectDocuments_ProjectId] ON [dbo].[ProjectDocuments]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectDocuments_ProjectUpdateId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectDocuments_ProjectUpdateId] ON [dbo].[ProjectDocuments]
(
	[ProjectUpdateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_ContractorsId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_ContractorsId] ON [dbo].[Projects]
(
	[ContractorsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_EndUsersId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_EndUsersId] ON [dbo].[Projects]
(
	[EndUsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_GovernoratesId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_GovernoratesId] ON [dbo].[Projects]
(
	[GovernoratesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_ProjectStatusId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_ProjectStatusId] ON [dbo].[Projects]
(
	[ProjectStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectSystems_ProjectComponentsId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectSystems_ProjectComponentsId] ON [dbo].[ProjectSystems]
(
	[ProjectComponentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectSystems_ProjectId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectSystems_ProjectId] ON [dbo].[ProjectSystems]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_projectUpdates_ProjectId]    Script Date: 5/26/2021 12:28:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_projectUpdates_ProjectId] ON [dbo].[projectUpdates]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[AssignedProject] ADD  DEFAULT ((0)) FOR [EmployeeId]
GO
ALTER TABLE [dbo].[AssignedProject] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAssigned]
GO
ALTER TABLE [dbo].[OfferDocuments] ADD  DEFAULT ((0)) FOR [OfferId]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((0)) FOR [GovernoratesId]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAccept]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AssignedProject]  WITH CHECK ADD  CONSTRAINT [FK_AssignedProject_Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignedProject] CHECK CONSTRAINT [FK_AssignedProject_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[AssignedProject]  WITH CHECK ADD  CONSTRAINT [FK_AssignedProject_projectUpdates_ProjectUpdateId] FOREIGN KEY([ProjectUpdateId])
REFERENCES [dbo].[projectUpdates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignedProject] CHECK CONSTRAINT [FK_AssignedProject_projectUpdates_ProjectUpdateId]
GO

ALTER TABLE [dbo].[DataSheets]  WITH CHECK ADD  CONSTRAINT [FK_DataSheets_Offers_OfferId] FOREIGN KEY([OfferId])
REFERENCES [dbo].[Offers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataSheets] CHECK CONSTRAINT [FK_DataSheets_Offers_OfferId]
GO

ALTER TABLE [dbo].[OfferDescriptions]  WITH CHECK ADD  CONSTRAINT [FK_OfferDescriptions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[OfferDescriptions] CHECK CONSTRAINT [FK_OfferDescriptions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[OfferDescriptions]  WITH CHECK ADD  CONSTRAINT [FK_OfferDescriptions_Offers_OffersId] FOREIGN KEY([OffersId])
REFERENCES [dbo].[Offers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OfferDescriptions] CHECK CONSTRAINT [FK_OfferDescriptions_Offers_OffersId]
GO
ALTER TABLE [dbo].[OfferDescriptions]  WITH CHECK ADD  CONSTRAINT [FK_OfferDescriptions_projectUpdates_ProjectUpdateId] FOREIGN KEY([ProjectUpdateId])
REFERENCES [dbo].[projectUpdates] ([Id])
GO
ALTER TABLE [dbo].[OfferDescriptions] CHECK CONSTRAINT [FK_OfferDescriptions_projectUpdates_ProjectUpdateId]
GO
ALTER TABLE [dbo].[OfferDocuments]  WITH CHECK ADD  CONSTRAINT [FK_OfferDocuments_Offers_OfferId] FOREIGN KEY([OfferId])
REFERENCES [dbo].[Offers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OfferDocuments] CHECK CONSTRAINT [FK_OfferDocuments_Offers_OfferId]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_OfferStatus_OfferStatusId] FOREIGN KEY([OfferStatusId])
REFERENCES [dbo].[OfferStatus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_OfferStatus_OfferStatusId]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_ProjectCosts_ProjectCostsId] FOREIGN KEY([ProjectCostsId])
REFERENCES [dbo].[ProjectCosts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_ProjectCosts_ProjectCostsId]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Projects_ProjectsId] FOREIGN KEY([ProjectsId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Projects_ProjectsId]
GO

ALTER TABLE [dbo].[ProjectDescriptions]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDescriptions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProjectDescriptions] CHECK CONSTRAINT [FK_ProjectDescriptions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ProjectDescriptions]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDescriptions_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectDescriptions] CHECK CONSTRAINT [FK_ProjectDescriptions_Projects_ProjectId]
GO
ALTER TABLE [dbo].[ProjectDescriptions]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDescriptions_projectUpdates_ProjectUpdateId] FOREIGN KEY([ProjectUpdateId])
REFERENCES [dbo].[projectUpdates] ([Id])
GO
ALTER TABLE [dbo].[ProjectDescriptions] CHECK CONSTRAINT [FK_ProjectDescriptions_projectUpdates_ProjectUpdateId]
GO
ALTER TABLE [dbo].[ProjectDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDocuments_DocumentsCategories_DocumentsCategoryId] FOREIGN KEY([DocumentsCategoryId])
REFERENCES [dbo].[DocumentsCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectDocuments] CHECK CONSTRAINT [FK_ProjectDocuments_DocumentsCategories_DocumentsCategoryId]
GO
ALTER TABLE [dbo].[ProjectDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDocuments_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectDocuments] CHECK CONSTRAINT [FK_ProjectDocuments_Projects_ProjectId]
GO
ALTER TABLE [dbo].[ProjectDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDocuments_projectUpdates_ProjectUpdateId] FOREIGN KEY([ProjectUpdateId])
REFERENCES [dbo].[projectUpdates] ([Id])
GO
ALTER TABLE [dbo].[ProjectDocuments] CHECK CONSTRAINT [FK_ProjectDocuments_projectUpdates_ProjectUpdateId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Contractors_ContractorsId] FOREIGN KEY([ContractorsId])
REFERENCES [dbo].[Contractors] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Contractors_ContractorsId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_EndUsers_EndUsersId] FOREIGN KEY([EndUsersId])
REFERENCES [dbo].[EndUsers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_EndUsers_EndUsersId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Governorates_GovernoratesId] FOREIGN KEY([GovernoratesId])
REFERENCES [dbo].[Governorates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Governorates_GovernoratesId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_ProjectStatus_ProjectStatusId] FOREIGN KEY([ProjectStatusId])
REFERENCES [dbo].[ProjectStatus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_ProjectStatus_ProjectStatusId]
GO
ALTER TABLE [dbo].[ProjectSystems]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSystems_ProjectComponents_ProjectComponentsId] FOREIGN KEY([ProjectComponentsId])
REFERENCES [dbo].[ProjectComponents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectSystems] CHECK CONSTRAINT [FK_ProjectSystems_ProjectComponents_ProjectComponentsId]
GO
ALTER TABLE [dbo].[ProjectSystems]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSystems_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectSystems] CHECK CONSTRAINT [FK_ProjectSystems_Projects_ProjectId]
GO
ALTER TABLE [dbo].[projectUpdates]  WITH CHECK ADD  CONSTRAINT [FK_projectUpdates_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[projectUpdates] CHECK CONSTRAINT [FK_projectUpdates_Projects_ProjectId]
GO

USE [master]
GO
